@import '../base/base.css';

.wrapper {
  background-color: var(--clr-neutral);
  border-radius: 1.25em;
  padding: 0 1em;
  max-width: 60em;
  margin-inline: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 60em) {
    min-width: 50em;
    background: none;
  }
}

.current-balance {
  @media screen and (min-width: 60em) {
    text-align: center;
  }
}

.inc-exp-list {
  display: flex;
  justify-content: space-between;
  padding: 1.25em 0;

  @media screen and (min-width: 60em) {
    justify-content: space-evenly;
  }

  & div>p {
    font-weight: 500;
  }

  & div>p[data-js="money-plus"] {
    color: var(--clr-primary-500);
  }

  & div>p[data-js="money-minus"] {
    color: var(--clr-secondary-500);
  }
}

.transactions-title {
  padding-top: 1.5em;
  padding-bottom: 0;
  margin-bottom: 1.25em;
}

ul[data-js="transactions-list"] {
  margin-bottom: 1em;

  & li {
    padding: .5em 0;
  }

  & li.plus {
    color: var(--clr-primary-500);
  }

  & li.minus {
    color: var(--clr-secondary-500);
  }
}

form[data-js="form"] {
  display: flex;
  flex-flow: column wrap;

  & .form-control {
    display: flex;
    flex-direction: column;
    padding: .5em 0;
  }

  & label {
    font-weight: 500;
  }

  & input {
    padding: .25em 0.5em;

    @media screen and (min-width: 60em) {
      max-width: 20em;
    }
  }

  & input[data-js="amount"] {
    @media screen and (min-width: 60em) {
      max-width: calc(50% - 10em);
    }
  }

  & input[type="submit"] {
    margin: 1.25em auto;
    cursor: pointer;
  }
}