@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-700: #0C69F2;
  --clr-primary-500: #00DB16;
  --clr-secondary-500: #EB0F00;

  --ff-base: 'IBM Plex Mono', monospace;
}

h1 {
  font-size: clamp(1.25rem, 1rem + 10vw, 1.5rem);
  color: var(--clr-primary-700);
}

h2,
h3 {
  font-size: clamp(1rem, 1rem + 10vw, 1.25rem);
  padding: 1.25em 0;
}

h4,
p {
  font-size: clamp(0.75rem, 1rem + 10vw, 1rem);
}

h4 {
  margin-bottom: 1em;
}

body {
  font-family: var(--ff-base);
}